<div class="container">
  <div
    *ngIf="!hasError; else showError"
    class="modal-container glass-container"
  >
    <h1 class="city-name">{{ weatherData?.name }}</h1>
    <section class="data-section">
      <div class="item">
        <span class="field-name"
          >{{ "content.temp" | translate }} Now:
          {{ weatherData.main.temp }} °C</span
        >
      </div>
      <div class="item">
        <span class="field-name"
          >{{ "content.Feel_Like" | translate }}:
          {{ weatherData.main.feels_like }} °C</span
        >
      </div>
      <div class="item">
        <span class="field-name"
          >{{ "content.min" | translate }}:
          {{ weatherData.main.temp_min }} °C</span
        >
      </div>
      <div class="item">
        <span class="field-name"
          >{{ "content.max" | translate }}::
          {{ weatherData.main.temp_max }} °C</span
        >
      </div>
      <div class="item">
        <span class="field-name"
          >{{ "content.pressure" | translate }}:
          {{ weatherData.main.pressure }} mm</span
        >
      </div>
      <div class="item">
        <span class="field-name"
          >{{ "content.humidity" | translate }}:
          {{ weatherData.main.humidity }} %</span
        >
      </div>
    </section>
    <section *ngFor="let weather of weatherData.weather" class="main">
      <h4>{{ "content.deatils" | translate }}</h4>
      <div class="item">
        <span class="field-name">Status: {{ weather.main }}</span>
      </div>
      <div class="item">
        <span class="field-name">Description: {{ weather.description }}</span>
      </div>
    </section>
  </div>
</div>
<ng-template #showError>
  <div class="modal-container glass-container error">
    <h1 class="error-title">{{ errorObj.cod }}</h1>
    <span class="error-description"
      >{{ cityName | titlecase }} : {{ errorObj.message | titlecase }}</span
    >
  </div>
</ng-template>
