.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.modal-container {
    width: calc(100vw - 16px - 16px);
    margin-top: 40px;
}
.item {
    margin-bottom: 10px;
}
.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.error-title.error-description {
    text-align: center;
}
.error-title {
    color: var(--error-color);
    font-size: 32px;
    margin: 16px;
}
.error-description {
    color: var(--error-color);
    font-size: 42px;
    font-weight: bold;
    margin: 0px 16px 16px;
}

@media screen and (min-width: 768px) {
    .modal-container {
        width: 85vw;
        max-width: 550px;
        margin-top: 56px;
    }
    .error-title {
        color: var(--error-color);
        font-size: 22px !important;
        margin: 16px;
    }
    .error-description {
        color: var(--error-color);
        font-size: 28px !important;
        font-weight: bold;
        margin: 0px 16px 16px;
    }
}

@media screen and (min-width: 991px) {
    .modal-container {
        margin-top: 144px;
    }
    .error-title {
        color: var(--error-color);
        font-size: 22px !important;
        margin: 16px;
    }
    .error-description {
        color: var(--error-color);
        font-size: 28px !important;
        // font-weight: bold;
        margin: 0px 16px 16px;
    }
}
.data-section:nth-last-child(1) {
    margin-bottom: 16px;
}
.city-name {
    color: var(--label-color);
    margin: 16px;
    text-align: left;
    text-transform: capitalize;
}
section {
    margin: 0px 16px;
}
.field-name {
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
}
.description {
    margin-bottom: 10px; 
}
.description h4 {
    color: var(--label-color);
}
.result {
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
}

