
footer {
    height: var(--footer-height);
    max-height: var(--footer-height);
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    border: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--footer-color);
}