<div class="container">
  <section class="layout">
    <mat-form-field class="form-field">
      <mat-label>{{ "search" | translate }}</mat-label>
      <input matInput #input (keypress)="search.next($event)" />
    </mat-form-field>
    <!-- (keydown.enter)="search.next($event)" -->
    <button
      class="search-btn"
      mat-raised-button
      (click)="onSearch(input.value)"
    >
      {{ "search" | translate }}
      <mat-icon>search</mat-icon>
    </button>
  </section>
</div>
<app-weather [cityName]="cityName"></app-weather>
