@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
:root {
    --text-color: #EAEAEA;
   
    --header-height: 45px;
    --footer-height: 35px;

    --footer-color: #fb8500;
    --header-color: #ffb703;
    --lable-color:#ffb703;
    --error-color: firebrick;    
    --label-color: #c8ff00;
    //more deatils
    --sm-mw: 768px;
    --md-mw: 991px;
    --lg-mw: 1366px;
  
    --app-height: 100vh;
  }

body{
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}
.glass-container {
    background: rgb(255, 255,255,0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255,255,255,0.37);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
