.layout {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 16px;
    gap:20px;
}
.searchBox{
    min-width: 250px;
    background-color: var(--text-color);
}

.search-btn {
    font-weight: bold;
    font-size: 16px;
    background-color: lime;
    height: 56px !important;
}
.form-field {
    width: 85vw !important;
    max-width: 400px !important;
}
